<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>chill</title>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/handlebars/handlebars.js"></script>

  </head>

  <body>
    <% include nav %>

    <h1>_&chill</h1>

    <% include /partials/backbone_templates %>

    <% include video %>

    <% include chat %>

  </body>
</html>


<script src='app.js'></script>
<script src='chat.js'></script>
