<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>chill</title>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>

  </head>

  <body>
    <!-- TODO: update navbar -->
    <div class='navigation'>
      <ul>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>YouTube</a></li>
      </ul>
    </div>

    <h1>_&chill</h1>

    <% include video %>

    <script>
      $(document).ready(function () {
        var chris = new User({username: 'Chris'});
      });
    </script>

    <% include chat %>

  </body>
</html>